virtual_mechine/node-read-in.json
[
    {
        "id": "0df4866a84e86c2e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e32547aba755143",
        "type": "inject",
        "z": "0df4866a84e86c2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "c89f3de91c99ca81"
            ]
        ]
    },
    {
        "id": "c89f3de91c99ca81",
        "type": "Container",
        "z": "0df4866a84e86c2e",
        "name": "",
        "platform": "55d3bd8b1b18a836",
        "name1": "9263534c8d91a4de",
        "viewtype": "DATA",
        "viewunid1": "",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "d9ac0e0945bcd708"
            ]
        ]
    },
    {
        "id": "d9ac0e0945bcd708",
        "type": "debug",
        "z": "0df4866a84e86c2e",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "1fdf9c37fabca63d",
        "type": "http in",
        "z": "0df4866a84e86c2e",
        "name": "",
        "url": "/DefenceValue",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "4d9cdef82b95c810"
            ]
        ]
    },
    {
        "id": "4d9cdef82b95c810",
        "type": "function",
        "z": "0df4866a84e86c2e",
        "name": "function 9",
        "func": "var data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>message</cnf>\\\n\t<con>\\\n\t  &lt;obj&gt;\\\n\t\t&lt;str name=&quot;index&quot; val=&quot;'+ msg.payload.index + '&quot;/&gt;\\\n\t\t&lt;str name=&quot;df_strength&quot; val=&quot;'+ msg.payload.df_strength + '&quot;/&gt;\\\n\t  &lt;/obj&gt;\\\n\t</con>\\\n</m2m:cin>';\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "8c149f2271e28406"
            ]
        ]
    },
    {
        "id": "8c149f2271e28406",
        "type": "http request",
        "z": "0df4866a84e86c2e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.201.128:8282/~/in-cse/in-name/CloudServer/DATA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 590,
        "y": 220,
        "wires": [
            [
                "b130e4713006963e",
                "03b9c83cbbd625e0"
            ]
        ]
    },
    {
        "id": "b130e4713006963e",
        "type": "debug",
        "z": "0df4866a84e86c2e",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "03b9c83cbbd625e0",
        "type": "http response",
        "z": "0df4866a84e86c2e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "55d3bd8b1b18a836",
        "type": "xN_CSE",
        "platform": "in-cse",
        "URLBase": "http://127.0.0.1:8080/~/in-cse/in-name",
        "user": "admin",
        "password": "admin"
    },
    {
        "id": "9263534c8d91a4de",
        "type": "AE",
        "appId": "CloudServer"
    }
]